body {
    background-color: #FAFAFA;
}

.dark-mode body {
    background-color: rgb(90, 90, 90);
    color: white;
}

.mode-button {
    float: right;
}

.container {
    margin-top: 25px;
    display: flex;
}

.first-col {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    flex: none;
    width: 20%;
    border: 1px solid black;
    margin-right: 10px;
    padding: 4px;
}

.second-col {
    flex: none;
    width: 56%;
    border: 1px solid black;
    margin-right: 5px;
    margin-left: 5px;
    padding: 4px;
}

.third-col {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    flex: none;
    width: 20%;
    border: 1px solid black;
    margin-left: 10px;
    padding: 4px;
}

img {
    width: 100%;
}

li {
    margin-bottom: 8px;
}

.content-box {
    width: max-content;
    padding-right: 10px;
    padding-left: 10px;
}

.title {
    background-color: #e9f3ff;
    margin-bottom: 25px;
    text-align: center;
}

.dark-mode .title {
    background-color: black;
    margin-bottom: 25px;
    text-align: center;
}

header h1{
    display: inline;
}

.first-col .title {   
    background-color: #FAFAFA;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
}

.third-col .title {
    background-color: #FAFAFA;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
}

.dark-mode .first-col .title {   
    background-color: rgb(90, 90, 90);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
}

.dark-mode .third-col .title {
    background-color: rgb(90, 90, 90);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
}

section {
    margin-bottom: 25px;
}

table {
    text-align: center;
    border: 1px solid black;
}

th {
    border: 1px solid black;
    background-color: darkgrey;
    padding: 0 11px;
}

.dark-mode th {
    border: 1px solid black;
    background-color: rgb(55, 55, 55);
    padding: 0 11px;

}

td {
    border: 1px solid black;
    padding: 0 11px;
}

input {
    border-radius: 5px;
    width: 250px;
    height: 36px;
}

button {
    padding: 4px 8px;
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}

.dark-mode button {
    padding: 4px 8px;
    background-color: black;
    border-color: gray;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
}

footer {
    margin-top: 25px;
}

.text-center {
    text-align: center;
}

.search-box {
    margin-top: 15px;
}

header {
    color: gold;
    background-color: #FAFAFA;
    font-style: italic;
}

.dark-mode header {
    color: gold;
    background-color: rgb(90,90,90);
    font-style: italic;
}

.dark-mode a {
    color: gold;
}